<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>MTHS Schedule Finder</title>
</head>
<body class="bg-light">
    <% include ../partials/nav %>
    <main class="container">
        <div class="card">
            <div class="card-body">
                    <p>Welcome to the unofficial Mountlake Terrace High School schedule finder! Using this, you can input your current schedule, and find other people that have the same classes as you! To start, please log in. Note that you <strong>must use your school Google account</strong> (ending in edmonds15.org) to use this website. Have fun!</p>
            </div>
        </div>
    </main>
    <% include ../partials/scripts %>
</body>
</html>