<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>MTHS Schedule Finder</title>
</head>
<body>
    <% include ../partials/nav %>

    <main class="container">
        Main Content
    </main>
    <% include ../partials/scripts %>
</body>
</html>